.consultation {
  background-color: $main_bgcolor;
  position: relative;
  padding-bottom: 55px;

  &__step {
    position: relative;

    &--list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 0;
      justify-content: space-between;

      width: 860px;
      height: 220px;

      border: 0.5px solid rgba(56, 239, 125, 0.4);
    }

    &--item {
      position: relative;
      padding: 15px 64px 15px 15px;
      border: 0.5px solid rgba(56, 239, 125, 0.4);
      border-collapse: separate;
    }

    &--number {
      top: 8px;
      left: 8px;
      position: absolute;
      width: 32px;
      height: 32px;

      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;

      color: $green;

      text-align: center;
      text-justify: auto;

      border: 1px solid rgba(56, 239, 125, 0.4);
      border-radius: 50%;
    }

    &--title {
      font-weight: 700;
      margin-left: 50px;
      margin-bottom: 10px;
    }

    &--img {
      position: absolute;
      right: -140px;
      bottom: -118px;
    }

    &--circle {
      position: absolute;
      top: -170px;
      right: -140px;
      width: 550px;
      height: 550px;

      opacity: 0.20000000298023224;
      background: $bg-button-section-how;
      border-radius: 50%;
      filter: blur(40px);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 24px;
    justify-content: space-between;

    width: 900px;

    margin-top: 117px;
    margin-left: auto;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid rgba(56, 239, 125, 0.4);
    background: #0a180f;

    z-index: 5;

    &--lable {
      position: relative;
      display: flex;
      flex-direction: column;

      width: 290px;
      margin-bottom: 5px;
    }

    &--input {
      width: 280px;
      height: 44px;
      padding: 9px 16px;
      border-radius: 8px;
      border: 1px solid rgba(56, 239, 125, 0.4);
      background: #0a180f;
      outline: none;
      color: #cdcedf;

      &:focus {
        border: 1px solid $green;
      }
    }

    &--button {
      margin-top: 14px;
      margin-left: 10px;
    }
  }
}

.consultation .section__text {
  text-transform: uppercase;
}
