.footer {
  height: 440px;
  width: 100%;
  padding-top: 180px;

  padding-left: 100px;
  position: relative;

  background-image: url("/img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    transform: translate(0px, 0px);
    background: linear-gradient(180deg, rgba(5, 5, 5, 1), rgba(5, 5, 5, 0));
  }

  &__menu {
    display: flex;

    &--logo {
      width: 172px;
      margin-bottom: 40px;
    }

    &--social {
      display: flex;

      &-logo {
        margin-right: 135px;
      }

      &-item {
        width: 34px;
        height: 34px;
        margin-right: 24px;
        border-radius: 50%;
        &:last-child {
          margin-right: 0;
        }

        &:hover,
        &:focus {
          box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
        }
      }
    }

    &--services {
      font-size: 24px;
      line-height: 1.4;
      font-weight: 500;
      width: 245px;

      &-item {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &--contacts {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-row-gap: 16px;
      grid-column-gap: 20px;

      &-title {
        font-size: 24px;
        line-height: 1.42;
        margin-bottom: 8px;
      }

      &-phone {
        a {
          margin-bottom: 7px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-adress {
        width: 220px;
      }
    }
  }
}

.services {
  margin-right: 90px;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

address {
  font-style: normal;
}

.go-up,
.go-down {
  display: none;
  position: fixed;
  z-index: 4;
  width: 52px;
  height: 52px;

  padding: 16px;
  margin-bottom: 30px;
  right: 50px;

  border-radius: 100px;
  background: linear-gradient(270deg, #2ad86c 0%, #1c7990 100%);

  cursor: pointer;
}
.go-up {
  bottom: 75px;
}
.go-down {
  bottom: 10px;
}

.go-down:hover,
.go-up:hover {
  box-shadow: 0px 0px 20px 0px rgba(43, 209, 195, 0.6);
}
