header {
  width: 100%;
  height: 110px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;

  &__color {
    background-color: $main_bgcolor;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    height: 86px;
  }

  @media screen and (min-width: 1280px) {
    height: 110px;
  }
  &_button {
    margin-left: 24px;
    width: 160px;
    height: 56px;
    padding: 12px 34px;
    font-weight: 700;
    font-size: 20px;

    background: $bg-button;
    border-radius: 32px;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
    }
  }

  div {
    display: flex;
    align-items: center;
  }

  &__socialList {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    z-index: 30;

    position: fixed;
    top: 300px;
    left: 5%;

    &-item {
      width: 34px;
      height: 34px;
      border: 1px solid green($color: #000000);
      border-radius: 50%;

      &:hover,
      &:focus {
        box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
      }
    }
  }
}

.logo {
  width: 172px;
  height: 88px;
}

.nav {
  &_list {
    display: flex;
    margin: 24px 0;
    @media screen and (min-width: 768px) {
      margin: 24px 0;
    }
    @media screen and (min-width: 1280px) {
      margin: 36px 0;
    }
  }
  &_item {
    position: relative;
    margin-right: 12px;
    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      background: $bg-title;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &_link {
    font-weight: 500;
    font-size: 24px;
  }
}

.lang {
  margin: 24px 0;

  @media screen and (min-width: 768px) {
    margin: 24px 0;
  }

  @media screen and (min-width: 1280px) {
    margin: 36px 0;
  }

  &:hover,
  &:focus {
    background: $bg-title;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
