header {
  width: 100vw;
  height: 110px;
  padding: 10px 0;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 15;
}

.header {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    height: 86px;
    background: none;
  }

  @media screen and (min-width: $desktop) {
    height: 110px;
    justify-content: center;
  }

  &_buttons {
    position: absolute;
    top: -10px;
    right: 10px;
    height: 100px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $tablet) {
      position: static;
      height: 100%;
    }
  }

  &_button {
    display: none;

    @media screen and (min-width: $tablet) {
      display: inline;
      margin-left: 12px;
      width: 120px;
      height: 48px;
      padding: 8px 12px;
      font-weight: 700;
      font-size: 16px;

      background: $bg-button;
      border-radius: 24px;

      &:hover,
      &:focus {
        box-shadow: 0px 0px 16px 8px rgba(43, 209, 195, 0.6);
      }
    }
    @media screen and (min-width: $desktop) {
      display: inline;
      margin-left: 24px;
      width: 180px;
      height: 56px;
      padding: 12px 34px;
      font-weight: 700;
      font-size: 20px;

      background: $bg-button;
      border-radius: 32px;

      &:hover,
      &:focus {
        box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
      }
    }
  }

  &__menu--open,
  &__menu--close {
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #2bd180;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 0px 20px 5px rgba(43, 209, 195, 0.6);
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__menu--open {
    margin-left: 20px;
  }

  &__menu--close {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &__socialList {
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    z-index: 30;

    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 868px) {
      flex-direction: column;
      position: fixed;
      top: 300px;
      left: 25px;
    }
    @media screen and (min-width: 1280px) {
      left: -25px;
    }
    @media screen and (min-width: 1340px) {
      left: 25px;
    }

    &-item {
      width: 34px;
      height: 34px;
      margin-right: 24px;
      border-radius: 50%;
      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &:focus {
        box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
      }

      @media screen and (min-width: $tablet) {
        margin-right: 0;
      }
    }
  }

  &__language {
    &--group {
      display: flex;
      gap: 10px;

      @media screen and (min-width: $desktop) {
        font-size: 24px;
      }
    }

    &--button {
      background: $main_bgcolor;
      cursor: pointer;
      position: relative;

      &:hover,
      &:focus {
        background: $bg-title;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.logo {
  margin-top: 5px;
  width: 120px;
  height: 64px;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    width: 172px;
    height: 88px;
  }
}

.logo--mobile {
  width: 172px;
  height: 88px;
}

.logo--mobile {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 20;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.logo {
  display: inline;
}

.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0;

    &_list {
      display: flex;
      margin: 24px 0;

      @media screen and (min-width: 1280px) {
        margin: 36px 0;
      }
    }

    &_item {
      margin-right: 16px;
      margin-top: 6px;

      @media screen and (min-width: 1280px) {
        margin-right: 40px;
        margin-top: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &:focus {
        background: $bg-title;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &_link {
      font-weight: 500;

      @media screen and (min-width: 1280px) {
        font-size: 24px;
      }
    }
  }
}

.nav--mobile {
  position: absolute;
  top: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #000;
  padding: 132px 0;
  z-index: 2;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &_item {
    padding: auto;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      background: $bg-title;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &_link {
    font-size: 32px;
    font-weight: 500;
  }
}

.lang {
  font-weight: 500;

  &:hover,
  &:focus {
    background: $bg-title;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.first--language {
  &::after {
    margin-left: 8px;
    margin-bottom: -4px;
    height: 27px;
    width: 2px;
    display: inline-block;

    content: "";

    background: $main;
    border-radius: 1px;
    opacity: 0.5;
  }
}

.active-language {
  background: $bg-title;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::before {
    position: absolute;
    bottom: -4px;
    left: 1px;
    height: 3px;
    width: 30px;
    display: inline-block;

    content: "";

    background: $green;
    border-radius: 1px;
    opacity: 0.5;
  }
}
