.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;

  background-color: $main_bgcolor;

  &__container {
    position: fixed;
    width: 100vw;
    height: 100%;
    padding-top: 100px;
  }
}

.mainblock {
  // margin-top: 100px;
  padding: 175px 0 135px;

  background-image: url("/img/header-hero.png");
  background-repeat: no-repeat;
  background-position: center;

  &:after {
    content: "";
    display: block;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background-image: linear-gradient(0deg, rgba(5, 5, 5, 1), rgba(5, 5, 5, 0));

    @media screen and (min-width: 768px) {
      opacity: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 50px;
    padding: 175px 0 135px;
    background-position: top -60% left 100%;
  }

  &_title {
    width: 311px;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      width: 704px;
      height: 180px;
      font-size: 64px;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1280px) {
      width: 704px;
      height: 180px;
    }
  }

  &_text {
    width: 452px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &_indicators {
    display: flex;
    margin-bottom: 36px;

    &--item {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      align-items: center;
      margin-right: 16px;

      font-weight: 700;
      font-size: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--number {
      font-size: 40px;

      background: $bg-button;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &_button {
    width: 335px;
    height: 56px;
    padding: 12px 34px;
    font-weight: 700;
    font-size: 20px;

    background: $bg-button;
    border-radius: 32px;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
    }

    @media screen and (min-width: 768px) {
      width: 240px;
    }
  }
}

.accent {
  background: $bg-title;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
