.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;

  background-color: $main_bgcolor;

  &__container {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    background-image: url("../../../src/img/header-hero.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
}

.mainblock {
  position: fixed;
  width: 100%;
  height: 100%;
  &_title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.4;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      width: 704px;
      hight: 180px;
      // margin: 0 0 24px 40px;
    }
    @media screen and (min-width: 1280px) {
      width: 704px;
      height: 180px;
      // margin: 0 0 24px 40px;
    }
  }

  &_text {
    font-size: 24px;
    width: 452px;
    margin-bottom: 16px;
  }

  &_indicators {
    display: flex;
    margin-bottom: 40px;

    &--item {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      align-items: center;
      margin-right: 16px;

      font-weight: 700;
      font-size: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--number {
      font-size: 40px;

      background: $bg-button;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  &_button {
    width: 240px;
    height: 56px;
    padding: 12px 34px;
    font-weight: 700;
    font-size: 20px;

    background: $bg-button;
    border-radius: 32px;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
    }
  }
}

.accent {
  background: $bg-title;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
