.howitworks {
  background-color: $main_bgcolor;
  background-image: url("../../../src/img/circle_1.png"), url("../../../src/img/circle_2.png");
  background-size: 420px, 530px, cover;
  background-repeat: no-repeat;
  background-position: top -10% left 0, top 70px right 15%;
  position: relative;
  padding-top: 100px;

  &__container {
    display: flex;
    padding-bottom: 169px;
    position: relative;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-right: 33px;
    z-index: 10;

    &--item {
      font-size: 48px;
      line-height: 1.6;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }

      background: $bg-button-section-how;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.2;
    }
  }

  &__list {
    position: relative;
  }

  &__item {
    padding: 10px 0;
    display: flex;

    div {
      min-width: 370px;
    }

    &--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 1.6;

      margin-bottom: 10px;

      background: $bg-button;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &--text {
      width: 370px;
      font-size: 16px;
      line-height: 1.6;
      opacity: 0.8;
      margin-right: 247px;
    }

    &--img {
      height: 260px;

      @media screen and (min-width: $tablet) {
        height: 380px;
      }
      @media screen and (min-width: $desktop) {
        height: 470px;
      }
    }
  }

  &__text-wrapper {
    margin-right: 137px;
  }
}

.is-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  margin: -1px;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
  pointer-events: none;
}

.active {
  opacity: 1;
}
