.howitworks {
  background-color: $main_bgcolor;
  position: relative;

  &__container {
    display: flex;
    padding-bottom: 169px;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;

    background: $bg-title;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-right: 33px;
    z-index: 10;

    &--item {
      font-size: 48px;
      line-height: 1.6;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }

      background: $bg-button-section-how;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.2;
    }
  }

  &__item {
    padding: 10px 0;
    display: flex;

    div {
      width: 370px;
    }

    &--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 1.6;

      margin-bottom: 10px;

      background: $bg-button;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &--text {
      width: 370px;
      font-size: 16px;
      line-height: 1.6;
      opacity: 0.8;
      margin-right: 247px;
    }

    &--img {
      position: absolute;
      height: 470px;

      top: 0;
      left: 870px;
    }
  }

  &__img {
    &--circle_1 {
      position: absolute;
      width: 430px;
      height: 430px;
      border-radius: 50%;

      background: $bg-button;
      opacity: 0.2;
      filter: blur(100px);

      top: -27%;
      left: 1.56%;
      z-index: 0;
    }

    &--circle_2 {
      position: absolute;
      width: 555px;
      height: 555px;
      border-radius: 50%;

      border: 5px solid red;

      background: $bg-button;
      opacity: 0.2;
      filter: blur(100px);

      right: -3.38%;

      top: -10%;
    }
  }
}

.is-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  margin: -1px;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
  pointer-events: none;
}

.active {
  opacity: 1;
}
