.howitworks {
  background-color: $main_bgcolor;

  position: relative;
  padding-top: 300px;

  @media screen and (min-width: $tablet) {
    padding-top: 70px;
  }

  &__container {
    display: flex;
    max-width: 300px;
    padding-bottom: 25px;
    position: relative;
    margin-top: 24px;

    @media screen and (min-width: $tablet) {
      padding-bottom: 169px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    z-index: 10;
    @media screen and (min-width: $tablet) {
      margin-right: 33px;
    }

    &--item {
      font-size: 48px;

      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }

      background: $bg-button-section-how;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.5;
    }
  }

  &__list {
    position: relative;
    // width: 250px;

    min-height: 385px;
  }

  &__item {
    display: flex;
    position: relative;

    @media screen and (min-width: $tablet) {
      width: 100%;
    }

    &--title {
      font-weight: 500;
      font-size: 32px;
      margin-bottom: 10px;

      background: $bg-button;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &--text {
      width: 245px;
      opacity: 0.8;

      @media screen and (min-width: $tablet) {
        width: 369px;
      }
    }
    &--img__wrapper {
      position: absolute;
      top: -340px;
      left: -40px;
      width: 280px;

      @media screen and (min-width: $tablet) {
        top: -60px;
        left: 485px;
        height: 380px;
        width: 385px;
      }
      @media screen and (min-width: $desktop) {
        height: 470px;
        width: 565px;
      }
    }
    &--img {
      height: 100%;
      width: 100%;
    }
  }

  &__text-wrapper {
    width: 220px;
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
  }

  &--circle1,
  &--circle2 {
    display: none;
    @media screen and (min-width: $tablet) {
      display: inherit;
      position: absolute;
      opacity: 0.2;
      background: $bg-button-section-how;
      border-radius: 50%;
      filter: blur(60px);
    }
  }

  &--circle1 {
    display: none;
    @media screen and (min-width: $tablet) {
      display: inherit;
      top: -250px;
      left: -105px;
      width: 380px;
      height: 380px;
    }
  }
  &--circle2 {
    @media screen and (min-width: $tablet) {
      display: inherit;
      top: -10px;
      right: -10px;
      width: 480px;
      height: 480px;
    }
  }
}

.active {
  opacity: 1;
}
