.howitworks {
  background-color: $main_bgcolor;

  position: relative;
  padding-top: 100px;

  &__container {
    display: flex;
    padding-bottom: 169px;
    position: relative;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-right: 33px;
    z-index: 10;

    &--item {
      font-size: 48px;

      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }

      background: $bg-button-section-how;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.5;
    }
  }

  &__list {
    position: relative;
  }

  &__item {
    display: flex;

    div {
      min-width: 370px;
    }

    &--title {
      font-weight: 500;
      font-size: 32px;
      margin-bottom: 10px;

      background: $bg-button;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &--text {
      width: 370px;
      opacity: 0.8;
      margin-right: 247px;
    }

    &--img {
      height: 260px;

      @media screen and (min-width: $tablet) {
        height: 380px;
      }
      @media screen and (min-width: $desktop) {
        height: 470px;
      }
    }
  }

  &__text-wrapper {
    margin-right: 137px;
  }

  &--circle1,
  &--circle2 {
    position: absolute;
    opacity: 0.2;
    background: $bg-button-section-how;
    border-radius: 50%;
    filter: blur(60px);
  }

  &--circle1 {
    top: -250px;
    left: -105px;
    width: 380px;
    height: 380px;
  }
  &--circle2 {
    top: -10px;
    right: -10px;
    width: 480px;
    height: 480px;
  }
}

.active {
  opacity: 1;
}
