.backdrop,
.notification__backdrop {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  backdrop-filter: blur(10px);
  transition-property: backdrop-filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 800px;
  height: 540px;

  padding: 0 0 0 10px;
  display: flex;

  border-radius: 16px;
  background: #050505;
  background-image: url("/img/modal.png");
  box-shadow: 0px 4px 40px 0px rgba(56, 239, 125, 0.6);

  &__img {
    margin-top: 40px;
    width: 312.46px;
    height: 500px;
  }

  &__container {
    padding: 40px;
    background: #050505;
    border-radius: 16px;
    position: relative;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    font-family: $secondary-font;
    line-height: 1.6;
    opacity: 0.6000000238418579;
    margin-bottom: 27px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &--lable {
      line-height: 1.4;
      margin-bottom: 8px;
    }

    &--input {
      width: 280px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid rgba(56, 239, 125, 0.4);
      background: #0a180f;
      margin-bottom: 24px;
      outline: none;

      &:focus {
        border: 1px solid $green;
      }
    }

    &--button {
      margin-top: 8px;
    }
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;

    &:focus,
    &:hover {
      background: rgba(56, 239, 125, 0.4);
      &:hover,
      &:focus {
        box-shadow: 0px 0px 15px 0px rgba(43, 209, 195, 0.8);
      }
    }
  }

  &__circle {
    position: absolute;
    object-fit: cover;
    top: 270px;
    left: 263px;
    width: 190px;
    height: 170px;
    opacity: 0.20000000298023224;
    background: $bg-button-section-how;

    border-radius: 50%;
    filter: blur(40px);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 160px;

  padding: 25px 10px;

  border-radius: 16px;
  background: $bg-button;

  box-shadow: 0px 4px 40px 0px rgba(56, 239, 125, 0.6);

  &__text {
    font-size: 35px;
    text-align: center;
  }
}
