.portfolio {
  min-height: 600px;
  background-color: $main_bgcolor;
  position: relative;
  padding: 36px 40px;
  @media screen and (max-width: $tablet) {
      padding:0;
    }
  &__container {
    position: relative;
    padding-bottom: 25px;

    &--circle1,
    &--circle2,
    &--circle3 {
      display: none;
      @media screen and (min-width: $tablet) {
        display: inherit;
        position: absolute;
        background: $bg-button-section-how;
        border-radius: 50%;
        filter: blur(20px);
      }
    }
    &--circle1 {
      top: -184px;
      right: -50px;
      width: 309px;
      height: 309px;
      opacity: 0.3;
    }
    &--circle2 {
      top: -132px;
      right: -7px;
      width: 206px;
      height: 206px;

      opacity: 0.3;
    }
    &--circle3 {
      top: -101px;
      right: 32px;
      width: 143.056px;
      height: 143.055px;
    }
  }
}

.swiper {
  width: 100%;
}

.portfolio__container .swiper {
  padding-bottom: 32px;
}

.button-next,
.button-prev {
  display: none;
  @media screen and (min-width: $desktop) {
    display: inherit;
    width: 54px;
    height: 54px;
    padding: 16px;
    border-radius: 50%;
    position: absolute;
    bottom: 27px;
    z-index: 5;
    &:hover,
    &:focus {
      box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
    }
  }
}

.portfolio__container .swiper-pagination {
  position: static;
  margin: 30px 0 10px 975px;
  padding: 0 30px;
  width: 240px;
  // background: $main;
}

.button-prev-img,
.button-next-img {
  width: 30px;
  height: 30px;
}

.button-next {
  background: $bg-button-section-how;
  right: 20px;
}

.button-prev {
  background: -webkit-linear-gradient(180deg, rgba(56, 239, 125, 1), rgba(34, 125, 148, 1));
  right: 230px;
}

.swiper-pagination-bullet-active {
  background: $green;
}

.swiper-slide {
  margin: 0;
}
