.team {
  background-color: $main_bgcolor;
  position: relative;
  padding-bottom: 100px;

  &__list {
    position: relative;
    height: 650px;

    &--item {
      width: 314px;
      height: 100%;
      padding: 0 5px;
      margin: 0 auto;
    }

    &--card {
      position: relative;
      width: 300px;
      height: 390px;
      margin-bottom: 16px;

      perspective: 1000px;

      // &:hover .team__list--front {
      //   transform: rotateY(180deg);
      // }

      // &:hover .team__list--back {
      //   transform: rotateY(360deg);
      // }
    }

    &--front,
    &--back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: 1s;
      backface-visibility: hidden;
    }

    &--back,
    &--img {
      width: 300px;
      max-height: 390px;
      border-radius: 16px;
    }
    &--front {
      max-height: 387px;
      background-color: white;
      border-radius: 16px;
    }
    &--back {
      padding: 20px;
      background: $bg-button-secondary;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      backface-visibility: hidden;
      transform: rotateY(180deg);

      h3 {
        font-size: 30px;
        text-align: center;
      }
    }

    &--img {
      margin-bottom: 6px;
    }

    &--title {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.4;
      text-align: center;

      margin-bottom: 6px;
    }

    &--text {
      text-align: center;
      opacity: 0.6;
      // margin-bottom: 6px;
    }
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 10px;
    justify-content: space-between;

    &--item {
      margin: 0 auto;
      width: 34px;
      height: 34px;

      border: 1px solid green($color: #000000);
      border-radius: 50%;

      &:hover,
      &:focus {
        box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
      }
    }
  }
}

// .team .swiper-pagination {
//   position: static;
// }

// .team .swiper-scrollbar-drag {
//   display: none;
//   width: 0;
// }

// .testimonials__card + .swiper-slide {
//   width: 100%;
//   height: 100%;
// }
