.testimonials {
  height: 930px;
  background-color: $main_bgcolor;
  position: relative;

  padding: 68px 0 125px 0;

  background-image: url("/src/img/testimorials.png");
  background-size: 836px cover;
  background-repeat: no-repeat;
  background-position: top 40px left 0;

  &__title {
    text-align: center;
  }

  &__list {
    div {
      border-radius: 50%;
      overflow: hidden;
    }

    &--img {
      width: 100%;
    }

    li {
      position: absolute;
      div {
        background: $main;
        border-radius: 50%;

        box-shadow: 0px 0px 15px 0px rgba(143, 151, 150, 0.6);

        &:hover,
        &:focus {
          box-shadow: 0px 0px 15px 0px rgba(43, 209, 195, 0.8);
        }
      }
    }

    &--item1,
    &--item10,
    &--item14 {
      div {
        width: 88px;
        height: 88px;
      }
    }

    &--item2,
    &--item6,
    &--item8,
    &--item15,
    &--item17,
    &--item18 {
      div {
        width: 64px;
        height: 64px;
      }
    }

    &--item3,
    &--item4,
    &--item5,
    &--item7,
    &--item9,
    &--item11,
    &--item12,
    &--item13,
    &--item16 {
      div {
        width: 44px;
        height: 44px;
      }
    }

    &--item1 {
      top: 213px;
      right: 300px;
    }

    &--item2 {
      top: 208px;
      right: 161px;
    }

    &--item3 {
      top: 372px;
      right: 253px;
    }
    &--item4 {
      top: 472px;
      right: 157px;
    }
    &--item5 {
      top: 485px;
      right: 295px;
    }
    &--item6 {
      top: 623px;
      right: 234px;
    }
    &--item7 {
      top: 740px;
      right: 455px;
    }
    &--item8 {
      top: 779px;
      right: 752px;
    }
    &--item9 {
      top: 780px;
      left: 492px;
    }
    &--item10 {
      top: 617px;
      left: 244px;
    }
    &--item11 {
      top: 515px;
      left: 305px;
    }
    &--item12 {
      top: 442px;
      left: 142px;
    }
    &--item13 {
      top: 370px;
      left: 256px;
    }
    &--item14 {
      top: 236px;
      left: 300px;
    }
    &--item15 {
      top: 195px;
      left: 145px;
    }
    &--item16 {
      top: 240px;
      left: 484px;
    }
    &--item17 {
      top: 195px;
      left: 648px;
    }
    &--item18 {
      top: 165px;
      right: 610px;
    }
  }

  &__card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    width: 432px;
    height: 430px;
    border-radius: 8px;
    border: 1px solid #38ef7d;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 40px;
    background: #0a180f;

    &--imgwrapper {
      margin: 5px auto;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      overflow: hidden;
      background: $main;
    }
    &--img {
      width: 100%;
    }

    &--name {
      font-size: 20px;
      font-weight: 700;
      margin-top: 5px;
    }

    &--company {
      font-size: 16px;

      font-weight: 700;
      opacity: 0.800000011920929;
      margin-top: 15px;
    }

    &--text {
      width: 284px;
      margin: 24px auto;
      opacity: 0.5;
      border-radius: 0;
      background: none;
    }

    &--circle1,
    &--circle2,
    &--circle3 {
      position: absolute;
      background: #38ef7d;
      filter: blur(20px);
    }

    &--circle1 {
      top: 14px;
      right: 16px;
      width: 16px;
      height: 16px;
      border-radius: 16px;
    }
    &--circle2 {
      top: 377px;
      right: 32px;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
    &--circle3 {
      top: 148px;
      left: 12px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      filter: blur(5px);
    }
  }
}

.parallax__container {
  z-index: 25;
}

.quote-up {
  position: absolute;
  top: 44px;
  left: 32px;

  width: 44px;
  height: 44px;
}
