.testimonials {
  height: 600px;
  background-color: $main_bgcolor;
  position: relative;

  padding: 68px 0 125px 0;

  background-image: url("../../../src/img/testimorials.png");
  background-size: 836px cover;
  background-repeat: no-repeat;
  background-position: top 40px left 0;

  &__title {
    text-align: center;
  }
}
