// UTILS

@import "./utils/variables";
@import "./utils/breakpoints";
@import "./utils/global";

@import "./components/header";
@import "./components/footer";
@import "./components/container";
@import "./components/hero";
@import "./components/features";
@import "./components/about";
@import "./components/howitworks";
@import "./components/portfolio";
@import "./components/team";
@import "./components/consultation";
@import "./components/testimonials";

$main-color: #979797;
