@import "./components/header";
@import "./components/footer";
@import "./components/container";
@import "./components/hero";
@import "./components/features";
@import "./components/about";

$main-color: #979797;

// UTILS

@import "./utils/variables";
@import "./utils/breakpoints";
@import "./utils/global";
