// GLOBAL RESET

body {
  box-sizing: border-box;

  font-family: $primary-font;
  font-size: 16px;
  color: $main;
  line-height: 1.6;

  // background-color: $light-gray;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: ease;
}

button {
  display: inline-block;

  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;

  box-shadow: 0px;
  background-color: transparent;

  font-family: inherit;
  color: inherit;
  fill: currentColor;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0px 16px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
  }
}

.title {
  width: fit-content;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;

  background: $bg-title;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__text {
  margin-top: 8px;
  margin-bottom: 40px;

  font-size: 24px;
}
