<section class="consultation">
  <div class="container">
    <h2 class="title">Consultation of the Area Expertn</h2>
    <p class="section__text">during consultation you will:</p>

    <ul class="consultation__step--list">
      <li class="consultation__step--item">
        <div class="consultation__step--number">1</div>
        <span class="consultation__step--title">Consultation</span>

        <p class="consultation__step--text">Get detailed consultation from manager and expert for your area</p>
      </li>
      <li class="consultation__step--item">
        <span class="consultation__step--number">2</span>
        <span class="consultation__step--title">Define tasks</span>

        <p class="consultation__step--text">Define tasks, goals, business needs and project concept</p>
      </li>
      <li class="consultation__step--item">
        <span class="consultation__step--number">3</span>
        <span class="consultation__step--title">Short overview</span>

        <p class="consultation__step--text">Short overview of KiWiCode Solution portfolio and best practice</p>
      </li>
      <li class="consultation__step--item">
        <span class="consultation__step--number">4</span>
        <span class="consultation__step--title">Determine the scope</span>

        <p class="consultation__step--text">Determine the scope, boundaries of the project and expectations</p>
      </li>
    </ul>
    <img src="../../src/img/girl-1.png" alt="girl" class="consultation__img" />

    <form name="consultation__form" autocomplete="on" class="consultation__form">
      <label class="consultation__form--lable" for="user_phone">
        Phone
        <input type="phone" name="phone" class="consultation__form--input" id="user_phone" placeholder="Your phone"
      /></label>

      <label class="consultation__form--lable" for="user_email">
        Email
        <input type="email" name="email" class="consultation__form--input" id="user_email" placeholder="Your email"
      /></label>

      <button type="submit" class="mainblock_button consultation__form--button">Get Started</button>
    </form>
  </div>
</section>
