<header>
  <div class="container">
    <div class="header">
      <img class="logo" src="/src/img/logo.png" alt="logo" />
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item"><a href="">Services</a></li>
          <li class="nav_item"><a href="">Portfolio</a></li>
          <li class="nav_item"><a href="">About company</a></li>
          <li class="nav_item"><a href="">Contacts</a></li>
        </ul>
      </nav>
      <div class="lang">UA</div>
    </div>
  </div>
</header>
