<header>
  <div class="container">
    <div class="header">
      <img class="logo" src="/img/logo.png" alt="logo" />
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="#howitworks" class="nav_link">Services</a>
          </li>
          <li class="nav_item">
            <a href="#portfolio" class="nav_link">Portfolio</a>
          </li>
          <li class="nav_item">
            <a href="#about" class="nav_link">About company</a>
          </li>
          <li class="nav_item">
            <a href="#footer" class="nav_link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div>
        <div class="lang">UA</div>
        <button type="button" class="header_button">Contact us</button>
      </div>
    </div>
    <div class="header__socialList">
      <a href="#" class="header__socialList-item"
        ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
      /></a>
      <a href="#" class="header__socialList-item"
        ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
      /></a>
      <a href="#" class="header__socialList-item"
        ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
      /></a>
      <a href="#" class="header__socialList-item"
        ><img src="/svg/github-inCircle.svg" alt="icon github"
      /></a>
    </div>
  </div>
</header>
