<section class="hero">
  <div class="hero__container">
    <div class="container">
      <div class="mainblock">
        <h1 class="mainblock_title">
          Full cycle <span class="mainblock_title accent">development</span> and<span class="mainblock_title accent">
            support </span
          >of your sites
        </h1>
        <p class="mainblock_text">More than 5+ ears of experience that helps build effective process.</p>
        <ul class="mainblock_indicators">
          <li class="mainblock_indicators--item"><span class="mainblock_indicators--number"></span>Projects</li>
          <li class="mainblock_indicators--item"><span class="mainblock_indicators--number"></span>Happy Clients</li>
          <li class="mainblock_indicators--item"><span class="mainblock_indicators--number"></span>Talents</li>
        </ul>
        <button type="button" class="mainblock_button" data-modal-open>Get Started</button>
      </div>
    </div>
  </div>
</section>
