<section class="hero hero__container">
  <div class="container">
    <div class="hero__socialList">
      <a href="#" class="hero__socialList-item"
        ><img src="../../src/svg/telegram-inCircle.svg" alt="icon telegram"
      /></a>
      <a href="#" class="hero__socialList-item"
        ><img src="../../src/svg/instagram-inCircle.svg" alt="icon instagram"
      /></a>
      <a href="#" class="hero__socialList-item"
        ><img src="../../src/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
      /></a>
      <a href="#" class="hero__socialList-item"><img src="../../src/svg/github-inCircle.svg" alt="icon github" /></a>
    </div>
    <div class="mainblock">
      <h1 class="mainblock_title">
        Full cycle <span class="mainblock_title accent">development</span> and<span class="mainblock_title accent">
          support </span
        >of your sites
      </h1>
      <p class="mainblock_text">More than 5+ ears of experience that helps build effective process.</p>
      <ul class="mainblock_indicators">
        <li class="mainblock_indicators--item"><span class="mainblock_indicators--number"></span>Projects</li>
        <li class="mainblock_indicators--item"><span class="mainblock_indicators--number"></span>Happy Clients</li>
        <li class="mainblock_indicators--item"><span class="mainblock_indicators--number"></span>Talents</li>
      </ul>
    </div>
    <button type="button" class="mainblock_button">Get Started</button>
  </div>
</section>
