<section class="howitworks" id="howitworks">
  <div class="container">
    <h2 class="title">How it works</h2>
    <div class="howitworks__container">
      <div class="howitworks__buttons">
        <button id="1" class="howitworks__buttons--item active" type="button">1</button>
        <button id="2" class="howitworks__buttons--item" type="button">2</button>
        <button id="3" class="howitworks__buttons--item" type="button">3</button>
        <button id="4" class="howitworks__buttons--item" type="button">4</button>
      </div>
      <ul class="howitworks__list">
        <li class="howitworks__item">
          <div>
            <span class="howitworks__item--title">DESIGN</span>
            <p class="howitworks__item--text">
              This is the starting point and the most important part because it helps to visualize the whole future
              website and all its features. Everything can be thought over to the smallest detail of how everything will
              be working, the website logic, and the final structure. Hence, this is the best way to understand what do
              you want to get, and you will be able to control every corner of the development, which means not a single
              little thing will go unnoticed.
            </p>
          </div>

          <img src="../../src/img/how-works-1.png" alt="image how it works" class="howitworks__item--img" />
        </li>
        <li class="howitworks__item is-hidden">
          <div>
            <span class="howitworks__item--title">HTML CODING</span>
            <p class="howitworks__item--text">
              This step is needed to see how your website is working without adding backend logic. It displays to us how
              the animations work and shows all the visual issues. We test adaptability and appearance for different
              devices. HTML coding not only a technical part but a visualization of your thoughts and ideas on a working
              website.
            </p>
          </div>

          <img src="../../src/img/how-works-2.png" alt="image how it works" class="howitworks__item--img" />
        </li>
        <li class="howitworks__item is-hidden">
          <div>
            <span class="howitworks__item--title">BACK-END CODING</span>
            <p class="howitworks__item--text">
              The back-end is the inner world of your site. Automation, the ability to edit and manage your site
              yourself. All this can be done for your convenience at this stage. Want to change a picture or add a new
              post? You don’t need to look for developers for this, now you can do everything yourself. Moreover, exist
              many comfortable plugins for every case, like SEO plugin where just a few clicks can bring your site up,
              in search. And the most important part that a well-written back-end makes your site work quickly and
              efficiently.
            </p>
          </div>

          <img src="../../src/img/how-works-3.png" alt="image how it works" class="howitworks__item--img" />
        </li>
        <li class="howitworks__item is-hidden">
          <div>
            <span class="howitworks__item--title">START YOUR PROJECT</span>
            <p class="howitworks__item--text">
              Everything is ready, we did it the way you want, and now we can transfer the site to your hosting.
              <br /><br />The business is working and developing, you have an excellent website that fully displays all
              your capabilities and takes you to a completely new level.
            </p>
          </div>

          <img src="../../src/img/how-works-4.png" alt="image how it works" class="howitworks__item--img" />
        </li>
      </ul>
      <div class="howitworks__img--circle_1"></div>
      <div class="howitworks__img--circle_2"></div>
    </div>
  </div>
</section>
