<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <img src="/src/img/girl-modal.png" alt="" class="modal__img" />

    <div class="modal__container">
      <div class="modal__circle"></div>
      <button class="modal--close" data-modal-close><img src="/src/svg/close.svg" alt="" /></button>

      <h4 class="modal__title">Consultation of the area expert</h4>
      <p class="modal__text">More than 4+ ears of experience that helps build effective process.</p>
      <form name="modal__form" autocomplete="on" class="modal__form">
        <label class="modal__form--lable" for="user_phone"> Phone</label>
        <input type="phone" name="phone" class="modal__form--input" id="user_phone" placeholder="Your phone" />

        <label class="modal__form--lable" for="user_email"> Email</label>
        <input type="email" name="email" class="modal__form--input" id="user_email" placeholder="Your email" />

        <button type="submit" class="mainblock_button modal__form--button">Contact us</button>
      </form>
    </div>
  </div>
</div>
