<section class="team">
  <div class="container">
    <h2 class="title">Our team</h2>
    <p class="section__text">
      Our team offers a full range of layout development services to testing the finished proposal.
    </p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/team/Artem.jpg" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Artem</h3>
                <p>Lead designer and researcher</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Artem</span>
            <p class="team__list--text">Designer and researcher</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/team/Aleksandra.jpg" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Aleksandra</h3>
                <p>Some text about our colleague and what a wonderful specialist</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Aleksandra</span>
            <p class="team__list--text">Designer</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/team/Sander.jpg" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Sander</h3>
                <p>Some text about our colleague and what a wonderful specialist</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Sander</span>
            <p class="team__list--text">Teamlead</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/team/Hardin.jpg" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Aleksandr</h3>
                <p>Some text about our colleague and what a wonderful specialist</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Aleksandr</span>
            <p class="team__list--text">Fullstack Developer</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/team/Tolmachov_cleared.jpg" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Alexey</h3>
                <p>Some text about our colleague and what a wonderful specialist</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Oleksii Tolmachov</span>
            <p class="team__list--text">DevOps and back-end</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/team/Poduzova.jpg" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Evhenija</h3>
                <p>Fullstack Developer</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Evhenija</span>
            <p class="team__list--text">Fullstack Developer</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/no-image.png" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Name</h3>
                <p>Some text about our colleague and what a wonderful specialist</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Name</span>
            <p class="team__list--text">Some text about our colleague and what a wonderful specialist</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team__list--item">
            <div class="team__list--card">
              <div class="team__list--front">
                <img src="/img/no-image.png" alt="team member photo" class="team__list--img swiper-img" />
              </div>
              <div class="team__list--back">
                <h3>Name</h3>
                <p>Some text about our colleague and what a wonderful specialist</p>
                <div class="team__social">
                  <a href="#" class="team__social--item"
                    ><img src="/svg/telegram-inCircle.svg" alt="icon telegram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/instagram-inCircle.svg" alt="icon instagram"
                  /></a>
                  <a href="#" class="team__social--item"
                    ><img src="/svg/linkedIn-inCircle.svg" alt="icon linkedIn"
                  /></a>
                  <a href="#" class="team__social--item"><img src="/svg/github-inCircle.svg" alt="icon github" /></a>
                </div>
              </div>
            </div>
            <span class="team__list--title">Name</span>
            <p class="team__list--text">Some text about our colleague and what a wonderful specialist</p>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
