<section class="team">
  <div class="container">
    <h2 class="title">Our team</h2>
    <p class="section__text">
      Our team offers a full range of layout development services to testing the finished proposal.
    </p>
    <ul class="team__list">
      <li class="team__list--item">
        <div class="team__list--front">
          <img src="../../src/img/no-image.png" alt="team member photo" class="team__list--img" />
          <div class="team__list--back">
            <span>Описание</span>
          </div>
        </div>

        <span class="team__list--title">Name</span>
        <p class="team__list--text">Some text about our colleague and what a wonderful specialist</p>
      </li>
      <li class="team__list--item">
        <div class="team__list--front">
          <img src="../../src/img/no-image.png" alt="team member photo" class="team__list--img" />
          <div class="team__list--back">
            <span>Описание</span>
          </div>
        </div>

        <span class="team__list--title">Name</span>
        <p class="team__list--text">Some text about our colleague and what a wonderful specialist</p>
      </li>
      <li class="team__list--item">
        <div class="team__list--front">
          <img src="../../src/img/no-image.png" alt="team member photo" class="team__list--img" />
          <div class="team__list--back">
            <span>Описание</span>
          </div>
        </div>

        <span class="team__list--title">Name</span>
        <p class="team__list--text">Some text about our colleague and what a wonderful specialist</p>
      </li>
      <li class="team__list--item">
        <div class="team__list--front">
          <img src="../../src/img/no-image.png" alt="team member photo" class="team__list--img" />
          <div class="team__list--back">
            <span>Описание</span>
          </div>
        </div>

        <span class="team__list--title">Name</span>
        <p class="team__list--text">Some text about our colleague and what a wonderful specialist</p>
      </li>
    </ul>
  </div>
</section>
