<section class="testimonials">
  <div class="container">
    <h2 class="title testimonials__title">Testimonials</h2>
    <div class="parallax__container"><ul class="testimonials__list"></ul></div>

    <div class="testimonials__card">
      <div class="testimonials__card--imgwrapper">
        <img src="../../src/img/quote-up.png" alt="quote-up" class="quote-up" />
        <img src="${datas[randomId].photo}" alt="${datas[randomId].name}" class="testimonials__card--img" />
      </div>
      <p class="testimonials__card--name"></p>
      <p class="testimonials__card--company"></p>
      <div class="testimonials__card--text">
        <p></p>
      </div>

      <div class="testimonials__card--circle1"></div>
      <div class="testimonials__card--circle2"></div>
      <div class="testimonials__card--circle3"></div>
    </div>
  </div>
</section>
