<section class="testimonials">
  <div class="container">
    <h2 class="title testimonials__title">Testimonials</h2>
    <div class="parallax__container">
      <ul class="testimonials__list"></ul>
    </div>

    <div class="testimonials__card"></div>

    <div class="testimonials__card--swiper swiper">
      <img src="/img/quote-up.png" alt="quote-up" class="quote-up" />
      <div class="testimonials__card--circle1"></div>
      <div class="testimonials__card--circle2"></div>
      <div class="testimonials__card--circle3"></div>
      <div class="swiper-wrapper">
        <div class="testimonials__swiper swiper-slide">
          <div class="testimonials__card--imgwrapper">
            <img
              src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
              alt="Michael Dam"
              class="testimonials__card--img swiper-img"
            />
          </div>
          <p class="testimonials__card--name">Michael Dam</p>
          <p class="testimonials__card--company">company 8</p>
          <div class="testimonials__card--text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero est asperiores, eveniet nesciunt id
              suscipit placeat! Dolore hic libero, expedita voluptatum quibusdam maxime, ab minima voluptas fuga
              consequatur nostrum soluta
            </p>
          </div>
        </div>
        <div class="testimonials__swiper swiper-slide">
          <div class="testimonials__card--imgwrapper">
            <img
              src="https://images.unsplash.com/photo-1484515991647-c5760fcecfc7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=449&q=80"
              alt="Mohammad Faruque"
              class="testimonials__card--img"
            />
          </div>

          <p class="testimonials__card--name">Mohammad Faruque</p>
          <p class="testimonials__card--company">company 1</p>
          <div class="testimonials__card--text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero est asperiores, eveniet nesciunt id
              suscipit placeat! Dolore hic libero, expedita voluptatum quibusdam maxime, ab minima voluptas fuga
              consequatur nostrum soluta
            </p>
          </div>
        </div>
        <div class="testimonials__swiper swiper-slide">
          <div class="testimonials__card--imgwrapper">
            <img
              src="https://images.unsplash.com/photo-1604004555489-723a93d6ce74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
              alt="Joshua Rondeau"
              class="testimonials__card--img swiper-img"
            />
          </div>
          <p class="testimonials__card--name">Joshua Rondeau</p>
          <p class="testimonials__card--company">company 5</p>
          <div class="testimonials__card--text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero est asperiores, eveniet nesciunt id
              suscipit placeat! Dolore hic libero, expedita voluptatum quibusdam maxime, ab minima voluptas fuga
              consequatur nostrum soluta
            </p>
          </div>
        </div>
        <div class="testimonials__swiper swiper-slide">
          <div class="testimonials__card--imgwrapper">
            <img
              src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
              alt="Joseph Gonzalez"
              class="testimonials__card--img swiper-img"
            />
          </div>
          <p class="testimonials__card--name">Joseph Gonzalez</p>
          <p class="testimonials__card--company">company 3</p>
          <div class="testimonials__card--text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero est asperiores, eveniet nesciunt id
              suscipit placeat! Dolore hic libero, expedita voluptatum quibusdam maxime, ab minima voluptas fuga
              consequatur nostrum soluta
            </p>
          </div>
        </div>
        <div class="testimonials__swiper swiper-slide">
          <div class="testimonials__card--imgwrapper">
            <img
              src="https://images.unsplash.com/photo-1503443207922-dff7d543fd0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=927&q=80"
              alt="Mubariz Mehdizade"
              class="testimonials__card--img swiper-img"
            />
          </div>

          <p class="testimonials__card--name">Mubariz Mehdizade</p>
          <p class="testimonials__card--company">company 4</p>

          <div class="testimonials__card--text">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero est asperiores, eveniet nesciunt id
              suscipit placeat! Dolore hic libero, expedita voluptatum quibusdam maxime, ab minima voluptas fuga
              consequatur nostrum soluta
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
