body {
  box-sizing: border-box;
  font-family: "Cabin", normal;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

button {
  display: inline-block;
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  box-shadow: 0px;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  fill: currentColor;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__text {
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: 24px;
}

header {
  width: 100%;
  height: 110px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}
header__color {
  background-color: #050505;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    height: 86px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 110px;
  }
}
.header_button {
  margin-left: 24px;
  width: 160px;
  height: 56px;
  padding: 12px 34px;
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  border-radius: 32px;
}
.header_button:hover, .header_button:focus {
  box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
}
.header div {
  display: flex;
  align-items: center;
}
.header__socialList {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  z-index: 30;
  position: fixed;
  top: 300px;
  left: 5%;
}
.header__socialList-item {
  width: 34px;
  height: 34px;
  border: 1px solid 0;
  border-radius: 50%;
}
.header__socialList-item:hover, .header__socialList-item:focus {
  box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
}

.logo {
  width: 172px;
  height: 88px;
}

.nav_list {
  display: flex;
  margin: 24px 0;
}
@media screen and (min-width: 768px) {
  .nav_list {
    margin: 24px 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav_list {
    margin: 36px 0;
  }
}
.nav_item {
  position: relative;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .nav_item {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .nav_item {
    margin-right: 40px;
  }
}
.nav_item:last-child {
  margin-right: 0;
}
.nav_item:hover, .nav_item:focus {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_link {
  font-weight: 500;
  font-size: 24px;
}

.lang {
  margin: 24px 0;
}
@media screen and (min-width: 768px) {
  .lang {
    margin: 24px 0;
  }
}
@media screen and (min-width: 1280px) {
  .lang {
    margin: 36px 0;
  }
}
.lang:hover, .lang:focus {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  height: 440px;
  width: 100%;
  padding-top: 180px;
  padding-left: 100px;
  position: relative;
  background-image: url("../../../src/img/footer.png");
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  transform: translate(0px, 0px);
  background: linear-gradient(180deg, rgb(5, 5, 5), rgba(5, 5, 5, 0));
}
.footer__menu {
  display: flex;
}
.footer__menu--logo {
  width: 172px;
  margin-bottom: 40px;
}
.footer__menu--social {
  display: flex;
}
.footer__menu--social-logo {
  margin-right: 135px;
}
.footer__menu--social-item {
  width: 34px;
  height: 34px;
  margin-right: 24px;
  border: 1px solid 0;
  border-radius: 50%;
}
.footer__menu--social-item:last-child {
  margin-right: 0;
}
.footer__menu--social-item:hover, .footer__menu--social-item:focus {
  box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
}
.footer__menu--services {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  width: 245px;
}
.footer__menu--services-item {
  margin-bottom: 16px;
}
.footer__menu--services-item:last-child {
  margin-bottom: 0;
}
.footer__menu--contacts {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 20px;
}
.footer__menu--contacts-title {
  font-size: 24px;
  font-weight: 1.42;
  margin-bottom: 8px;
}
.footer__menu--contacts-phone a {
  margin-bottom: 7px;
}
.footer__menu--contacts-phone a:last-child {
  margin-bottom: 0;
}
.footer__menu--contacts-adress {
  width: 220px;
}

.services {
  margin-right: 90px;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #050505;
}
.hero__container {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 150px 0;
  background-image: url("../../../src/img/header-hero.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.mainblock {
  position: fixed;
  width: 100%;
  height: 100%;
}
.mainblock_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.4;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .mainblock_title {
    width: 704px;
    hight: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .mainblock_title {
    width: 704px;
    height: 180px;
  }
}
.mainblock_text {
  font-size: 24px;
  width: 452px;
  margin-bottom: 16px;
}
.mainblock_indicators {
  display: flex;
  margin-bottom: 40px;
}
.mainblock_indicators--item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  margin-right: 16px;
  font-weight: 700;
  font-size: 24px;
}
.mainblock_indicators--item:last-child {
  margin-right: 0;
}
.mainblock_indicators--number {
  font-size: 40px;
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.mainblock_button {
  width: 240px;
  height: 56px;
  padding: 12px 34px;
  font-weight: 700;
  font-size: 20px;
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  border-radius: 32px;
}
.mainblock_button:hover, .mainblock_button:focus {
  box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
}

.accent {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features_list {
  display: flex;
  margin: 100px;
}
@media screen and (min-width: 768px) {
  .features_item {
    margin-right: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .features_item {
    margin-right: 110px;
  }
}

.about {
  background-color: #050505;
  background-image: url("../../../src/img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  position: relative;
}
.about_title {
  font: bold;
}
.about_img {
  position: absolute;
}
.about__services {
  display: flex;
}
.about__services::before {
  content: "";
  position: absolute;
  top: -12%;
  left: 0;
  width: 100%;
  height: 150px;
  transform: translate(0px, 0px);
  background: linear-gradient(0deg, rgb(5, 5, 5), rgba(5, 5, 5, 0));
}
.about__services--text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__services--image-container {
  width: 84px;
  height: 84px;
  background: linear-gradient(#050505, #050505) padding-box, linear-gradient(180deg, rgb(56, 239, 125), rgba(17, 153, 142, 0)) border-box;
  border-radius: 50em;
  border: 10px solid transparent;
  position: relative;
  margin-bottom: 20px;
}
.about__services--image-container::after {
  height: 1px;
  width: 133px;
  display: inline-block;
  position: absolute;
  top: 84px;
  left: -10px;
  content: "";
  background: #ffffff;
  border-radius: 2px;
  opacity: 0.1;
}
.about__services--item {
  width: 315px;
  margin-right: 110px;
}
.about__services--item:last-child {
  margin-right: 0;
}
.about__services--image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__services--title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 6px;
}
.about__services--text {
  line-height: 1.4;
  opacity: 0.6;
}
.about__company {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row-gap: 215px;
  margin-top: 75px;
}
.about__company--text {
  width: 514px;
  font-size: 20px;
  color: #9da1a1;
}
.about__company--text span {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.about__company--img {
  height: 747px;
  width: 750px;
}

.howitworks {
  background-color: #050505;
  position: relative;
  padding-top: 100px;
}
.howitworks__container {
  display: flex;
  padding-bottom: 169px;
  position: relative;
}
.howitworks__buttons {
  display: flex;
  flex-direction: column;
  margin-right: 33px;
  z-index: 10;
}
.howitworks__buttons--item {
  font-size: 48px;
  margin-bottom: 16px;
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.2;
}
.howitworks__buttons--item:last-child {
  margin-bottom: 0;
}
.howitworks__list {
  position: relative;
}
.howitworks__item {
  padding: 10px 0;
  display: flex;
}
.howitworks__item div {
  min-width: 370px;
}
.howitworks__item--title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.howitworks__item--text {
  width: 370px;
  opacity: 0.8;
  margin-right: 247px;
}
.howitworks__item--img {
  height: 260px;
}
@media screen and (min-width: 768px) {
  .howitworks__item--img {
    height: 380px;
  }
}
@media screen and (min-width: 1280px) {
  .howitworks__item--img {
    height: 470px;
  }
}
.howitworks__text-wrapper {
  margin-right: 137px;
}
.howitworks--circle1, .howitworks--circle2 {
  position: absolute;
  opacity: 0.200000003;
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
  border-radius: 50%;
  filter: blur(60px);
}
.howitworks--circle1 {
  top: -250px;
  left: -105px;
  width: 380px;
  height: 380px;
}
.howitworks--circle2 {
  top: -10px;
  right: -10px;
  width: 480px;
  height: 480px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
}

.active {
  opacity: 1;
}

.portfolio {
  height: 600px;
  background-color: #050505;
  position: relative;
  padding: 36px 0;
  background-image: url("../../../src/img/circle_3.png");
  background-size: 309px 309px;
  background-repeat: no-repeat;
  background-position: top 5% right 50px;
}
.portfolio__container {
  position: relative;
}
.portfolio__container--circle1, .portfolio__container--circle2, .portfolio__container--circle3 {
  position: absolute;
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
  border-radius: 50%;
  filter: blur(20px);
}
.portfolio__container--circle1 {
  top: -184px;
  right: -50px;
  width: 309px;
  height: 309px;
  opacity: 0.3000000119;
}
.portfolio__container--circle2 {
  top: -132px;
  right: -7px;
  width: 206px;
  height: 206px;
  opacity: 0.3000000119;
}
.portfolio__container--circle3 {
  top: -101px;
  right: 32px;
  width: 143.056px;
  height: 143.055px;
}

.swiper {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  color: #ffffff;
}

.swiper-button-next {
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
}

.swiper-button-prev {
  background: -webkit-linear-gradient(180deg, rgb(56, 239, 125), rgb(34, 125, 148));
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-variant: #ffffff;
}

.swiper-pagination-bullet-active {
  background: #38ef7d;
}

.swiper-slide {
  margin: 0;
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  background: rgba(67, 75, 75, 0.6);
}

.team {
  background-color: #050505;
  position: relative;
  padding-bottom: 100px;
}
.team__list {
  position: relative;
  height: 650px;
}
.team__list--item {
  width: 314px;
  height: 100%;
  padding: 0 5px;
}
.team__list--card {
  position: relative;
  width: 300px;
  height: 390px;
  margin-bottom: 16px;
  perspective: 1000px;
}
.team__list--card:hover .team__list--front {
  transform: rotateY(180deg);
}
.team__list--card:hover .team__list--back {
  transform: rotateY(360deg);
}
.team__list--front, .team__list--back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s;
  backface-visibility: hidden;
}
.team__list--back, .team__list--img {
  width: 300px;
  height: 390px;
  border-radius: 16px;
}
.team__list--back {
  padding: 20px;
  background: linear-gradient(180deg, #2ad86c 0%, #1c7991 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.team__list--back h3 {
  font-size: 30px;
  text-align: center;
}
.team__list--img {
  margin-bottom: 18px;
}
.team__list--title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 6px;
}
.team__social {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 10px;
  justify-content: space-between;
}
.team__social--item {
  margin: 0 auto;
  width: 34px;
  height: 34px;
  border: 1px solid 0;
  border-radius: 50%;
}
.team__social--item:hover, .team__social--item:focus {
  box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
}

.team .swiper {
  height: 600px;
  padding-top: 50px;
}

.team .section__text {
  margin-bottom: 0;
}

.consultation {
  background-color: #050505;
  position: relative;
  background-image: url("../../../src/img/circle_4.png");
  background-size: 610px, cover;
  background-repeat: no-repeat;
  background-position: top -70px right 20px;
  padding-bottom: 55px;
}
.consultation__step {
  position: relative;
}
.consultation__step--list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 0;
  justify-content: space-between;
  width: 860px;
  height: 220px;
  border: 0.5px solid rgba(56, 239, 125, 0.4);
}
.consultation__step--item {
  position: relative;
  padding: 15px 64px 15px 15px;
  border: 0.5px solid rgba(56, 239, 125, 0.4);
  border-collapse: separate;
}
.consultation__step--number {
  top: 8px;
  left: 8px;
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: #38ef7d;
  text-align: center;
  text-justify: auto;
  border: 1px solid rgba(56, 239, 125, 0.4);
  border-radius: 50%;
}
.consultation__step--title {
  font-weight: 700;
  margin-left: 50px;
  margin-bottom: 10px;
}
.consultation__step--img {
  position: absolute;
  right: -140px;
  bottom: -118px;
}
.consultation__step--circle {
  position: absolute;
  top: -170px;
  right: -170px;
  width: 550px;
  height: 550px;
  opacity: 0.200000003;
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
  border-radius: 50%;
  filter: blur(40px);
}
.consultation__form {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 24px;
  justify-content: space-between;
  width: 900px;
  margin-top: 117px;
  margin-left: auto;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid rgba(56, 239, 125, 0.4);
  background: #0a180f;
  z-index: 5;
}
.consultation__form--lable {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin-bottom: 5px;
}
.consultation__form--input {
  width: 280px;
  height: 44px;
  padding: 9px 16px;
  border-radius: 8px;
  border: 1px solid rgba(56, 239, 125, 0.4);
  background: #0a180f;
  outline: none;
}
.consultation__form--input:focus {
  border: 1px solid #38ef7d;
}
.consultation__form--button {
  margin-top: 14px;
  margin-left: 10px;
}

.consultation .section__text {
  text-transform: uppercase;
}

.testimonials {
  height: 830px;
  background-color: #050505;
  position: relative;
  padding: 68px 0 125px 0;
  background-image: url("../../../src/img/testimorials.png");
  background-size: 836px cover;
  background-repeat: no-repeat;
  background-position: top 40px left 0;
}
.testimonials__title {
  text-align: center;
}
.testimonials__list div {
  border-radius: 50%;
  overflow: hidden;
}
.testimonials__list--img {
  width: 100%;
}
.testimonials__list li {
  position: absolute;
}
.testimonials__list li div {
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px rgba(143, 151, 150, 0.6);
}
.testimonials__list li div:hover, .testimonials__list li div:focus {
  box-shadow: 0px 0px 15px 0px rgba(43, 209, 195, 0.8);
}
.testimonials__list--item1 div, .testimonials__list--item10 div, .testimonials__list--item14 div {
  width: 88px;
  height: 88px;
}
.testimonials__list--item2 div, .testimonials__list--item6 div, .testimonials__list--item8 div, .testimonials__list--item15 div, .testimonials__list--item17 div, .testimonials__list--item18 div {
  width: 64px;
  height: 64px;
}
.testimonials__list--item3 div, .testimonials__list--item4 div, .testimonials__list--item5 div, .testimonials__list--item7 div, .testimonials__list--item9 div, .testimonials__list--item11 div, .testimonials__list--item12 div, .testimonials__list--item13 div, .testimonials__list--item16 div {
  width: 44px;
  height: 44px;
}
.testimonials__list--item1 {
  top: 213px;
  right: 300px;
}
.testimonials__list--item2 {
  top: 208px;
  right: 161px;
}
.testimonials__list--item3 {
  top: 372px;
  right: 253px;
}
.testimonials__list--item4 {
  top: 472px;
  right: 157px;
}
.testimonials__list--item5 {
  top: 485px;
  right: 295px;
}
.testimonials__list--item6 {
  top: 623px;
  right: 234px;
}
.testimonials__list--item7 {
  top: 740px;
  right: 455px;
}
.testimonials__list--item8 {
  top: 779px;
  right: 752px;
}
.testimonials__list--item9 {
  top: 780px;
  left: 492px;
}
.testimonials__list--item10 {
  top: 617px;
  left: 244px;
}
.testimonials__list--item11 {
  top: 515px;
  left: 305px;
}
.testimonials__list--item12 {
  top: 442px;
  left: 142px;
}
.testimonials__list--item13 {
  top: 370px;
  left: 256px;
}
.testimonials__list--item14 {
  top: 236px;
  left: 300px;
}
.testimonials__list--item15 {
  top: 195px;
  left: 145px;
}
.testimonials__list--item16 {
  top: 240px;
  left: 484px;
}
.testimonials__list--item17 {
  top: 195px;
  left: 648px;
}
.testimonials__list--item18 {
  top: 165px;
  right: 610px;
}
.testimonials__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 432px;
  height: 430px;
  border-radius: 8px;
  border: 1px solid #38ef7d;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  background: #0a180f;
}
.testimonials__card--imgwrapper {
  margin: 5px auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  background: #ffffff;
}
.testimonials__card--img {
  width: 100%;
}
.testimonials__card--name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.testimonials__card--company {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.8000000119;
  margin-top: 15px;
}
.testimonials__card--text {
  width: 284px;
  margin: 24px auto;
  opacity: 0.5;
  border-radius: 0;
  background: none;
}
.testimonials__card--circle1, .testimonials__card--circle2, .testimonials__card--circle3 {
  position: absolute;
  background: #38ef7d;
  filter: blur(20px);
}
.testimonials__card--circle1 {
  top: 14px;
  right: 16px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
.testimonials__card--circle2 {
  top: 377px;
  right: 32px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.testimonials__card--circle3 {
  top: 148px;
  left: 12px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  filter: blur(5px);
}

.parallax__container {
  z-index: 25;
}

.quote-up {
  position: absolute;
  top: 44px;
  left: 32px;
  width: 44px;
  height: 44px;
}

/*# sourceMappingURL=main.css.map */
