/* Error: Undefined variable.
 *    ,
 * 28 |         border: 1px solid $green;
 *    |                           ^^^^^^
 *    '
 *   src\styles\components\_footer.scss 28:27  @import
 *   src\styles\main.scss 2:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 28 \2502          border: 1px solid $green;\d\a    \2502                            ^^^^^^\a    \2575 \a   src\\styles\\components\\_footer.scss 28:27  @import\a   src\\styles\\main.scss 2:9                  root stylesheet";
}
