html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Cabin", normal;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  outline: none;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

button {
  display: inline-block;
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  box-shadow: 0px;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  fill: currentColor;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  color: inherit;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.title {
  width: fit-content;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

.section__text {
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .section__text {
    font-size: 24px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
}

.disable-scroll {
  overflow: hidden;
}

header {
  width: 100vw;
  height: 110px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 86px;
    background: none;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 110px;
    justify-content: center;
  }
}
.header_buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header_buttons {
    position: static;
    height: 100%;
  }
}
.header_button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header_button {
    display: inline;
    margin-left: 12px;
    width: 120px;
    height: 48px;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
    border-radius: 24px;
  }
  .header_button:hover, .header_button:focus {
    box-shadow: 0px 0px 16px 8px rgba(43, 209, 195, 0.6);
  }
}
@media screen and (min-width: 1280px) {
  .header_button {
    display: inline;
    margin-left: 24px;
    width: 180px;
    height: 56px;
    padding: 12px 34px;
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
    border-radius: 32px;
  }
  .header_button:hover, .header_button:focus {
    box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
  }
}
.header__menu--open, .header__menu--close {
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #2bd180;
}
.header__menu--open img, .header__menu--close img {
  width: 100%;
  height: 100%;
}
.header__menu--open:hover, .header__menu--open:focus, .header__menu--close:hover, .header__menu--close:focus {
  box-shadow: 0px 0px 20px 5px rgba(43, 209, 195, 0.6);
}
@media screen and (min-width: 768px) {
  .header__menu--open, .header__menu--close {
    display: none;
  }
}
.header__menu--open {
  margin-left: 20px;
}
.header__menu--close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.header__socialList {
  display: flex;
  flex-direction: row;
  row-gap: 16px;
  z-index: 30;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 868px) {
  .header__socialList {
    flex-direction: column;
    position: fixed;
    top: 300px;
    left: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .header__socialList {
    left: -25px;
  }
}
@media screen and (min-width: 1340px) {
  .header__socialList {
    left: 25px;
  }
}
.header__socialList-item {
  width: 34px;
  height: 34px;
  margin-right: 24px;
  border-radius: 50%;
}
.header__socialList-item:last-child {
  margin-right: 0;
}
.header__socialList-item:hover, .header__socialList-item:focus {
  box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
}
@media screen and (min-width: 768px) {
  .header__socialList-item {
    margin-right: 0;
  }
}
.header__language--group {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 1280px) {
  .header__language--group {
    font-size: 24px;
  }
}
.header__language--button {
  background: #050505;
  cursor: pointer;
  position: relative;
}
.header__language--button:hover, .header__language--button:focus {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo--mobile,
.logo {
  width: 172px;
  height: 88px;
}

.logo--mobile {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .logo--mobile {
    display: none;
  }
}

.logo {
  display: inline;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: inline;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .nav_list {
    display: flex;
    margin: 24px 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .nav_list {
    margin: 36px 0;
  }
}
@media screen and (min-width: 768px) {
  .nav_item {
    margin-right: 16px;
    margin-top: 6px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .nav_item {
    margin-right: 40px;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .nav_item:last-child {
    margin-right: 0;
  }
  .nav_item:hover, .nav_item:focus {
    background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .nav_link {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .nav_link {
    font-size: 24px;
  }
}

.nav--mobile {
  position: absolute;
  top: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #000;
  padding: 132px 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .nav--mobile {
    display: none;
  }
}
.nav--mobile_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav--mobile_item {
  padding: auto;
  margin-bottom: 20px;
}
.nav--mobile_item:last-child {
  margin-bottom: 0;
}
.nav--mobile_item:hover, .nav--mobile_item:focus {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav--mobile_link {
  font-size: 32px;
  font-weight: 500;
}

.lang {
  font-weight: 500;
}
.lang:hover, .lang:focus {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first--language::after {
  margin-left: 8px;
  margin-bottom: -4px;
  height: 27px;
  width: 2px;
  display: inline-block;
  content: "";
  background: #ffffff;
  border-radius: 1px;
  opacity: 0.5;
}

.active-language {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active-language::before {
  position: absolute;
  bottom: -4px;
  left: 1px;
  height: 3px;
  width: 30px;
  display: inline-block;
  content: "";
  background: #38ef7d;
  border-radius: 1px;
  opacity: 0.5;
}

.footer {
  min-height: 440px;
  width: 100%;
  padding: 80px 0;
  position: relative;
  background-image: url("/img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 180px;
    padding-left: 100px;
    height: 500px;
  }
}
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transform: translate(0px, 0px);
  background: linear-gradient(180deg, rgb(5, 5, 5), rgba(5, 5, 5, 0));
}
@media screen and (min-width: 768px) {
  .footer::after {
    height: 130px;
  }
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__menu {
    flex-direction: row;
  }
}
.footer__menu--logo {
  width: 172px;
  margin-bottom: 40px;
}
.footer__menu--social-logo {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__menu--social-logo {
    margin-right: 135px;
  }
}
.footer__menu--social-logo-item {
  width: 34px;
  height: 34px;
  margin-right: 24px;
  border-radius: 50%;
}
.footer__menu--social-logo-item:last-child {
  margin-right: 0;
}
.footer__menu--social-logo-item:hover, .footer__menu--social-logo-item:focus {
  box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
}
.footer__menu--services {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  width: 245px;
  margin-bottom: 20px;
}
.footer__menu--services-item {
  margin-bottom: 16px;
}
.footer__menu--services-item:last-child {
  margin-bottom: 0;
}
.footer__menu--contacts {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__menu--contacts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.footer__menu--contacts-title {
  font-size: 24px;
  line-height: 1.42;
  margin-bottom: 8px;
}
.footer__menu--contacts-phone a {
  opacity: 0.6;
  margin-bottom: 7px;
}
.footer__menu--contacts-phone a:last-child {
  margin-bottom: 0;
}
.footer__menu--contacts-adress {
  width: 220px;
}
.footer__menu--contacts-email a {
  opacity: 0.6;
}

.services {
  margin-right: 90px;
}

.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

address {
  font-style: normal;
  opacity: 0.6;
}

.go-up,
.go-down {
  position: absolute;
  width: 52px;
  height: 52px;
  padding: 16px;
  right: 150px;
  border-radius: 100px;
  background: linear-gradient(270deg, #2ad86c 0%, #1c7990 100%);
  cursor: pointer;
}
.go-up {
  bottom: 200px;
}

.go-down:hover,
.go-up:hover {
  box-shadow: 0px 0px 20px 0px rgba(43, 209, 195, 0.6);
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.hero {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-color: #050505;
}
.hero__container {
  position: fixed;
  width: 100vw;
  height: 100%;
  padding-top: 100px;
}

.mainblock {
  padding: 75px 0 100px;
  background-image: linear-gradient(0deg, rgb(5, 5, 5), rgba(5, 5, 5, 0.5)), url("/img/header-hero.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-size: 335px 426px;
}
@media screen and (min-width: 768px) {
  .mainblock {
    padding: 40px 0 100px;
    background-position: top 0 left 100%;
    background-size: 50% 100%;
  }
}
@media screen and (min-width: 1280px) {
  .mainblock {
    background-image: url("/img/header-hero.png");
    background-position-y: 40px;
  }
}
.mainblock_title {
  width: 311px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.4;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .mainblock_title {
    width: 704px;
    height: 180px;
    font-size: 64px;
    margin-bottom: 24px;
  }
}
.mainblock_text {
  width: 301px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .mainblock_text {
    width: 452px;
    font-size: 24px;
  }
}
.mainblock_indicators {
  display: flex;
  margin-bottom: 40px;
}
.mainblock_indicators--item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  margin-right: 16px;
  font-weight: 700;
  font-size: 24px;
}
.mainblock_indicators--item:last-child {
  margin-right: 0;
}
.mainblock_indicators--number {
  font-size: 40px;
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (min-width: 768px) {
  .mainblock_indicators {
    margin-bottom: 40px;
  }
}
.mainblock_button {
  width: 100%;
  height: 56px;
  padding: 12px 34px;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
  z-index: 10;
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  border-radius: 32px;
}
.mainblock_button:hover, .mainblock_button:focus {
  box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
}
@media screen and (min-width: 768px) {
  .mainblock_button {
    width: 240px;
  }
}

.accent {
  background: -webkit-linear-gradient(0deg, rgb(53, 234, 126), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features_list {
  display: flex;
  margin: 100px;
}
@media screen and (min-width: 768px) {
  .features_item {
    margin-right: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .features_item {
    margin-right: 110px;
  }
}

.about {
  background-color: #050505;
  background-image: url("/img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  position: relative;
  padding-bottom: 25px;
}
.about_title {
  font: bold;
}
.about_img {
  position: absolute;
}
.about__services {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}
.about__services::before {
  content: "";
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
  height: 80px;
  transform: translate(0px, 0px);
  background: linear-gradient(0deg, rgb(5, 5, 5), rgba(5, 5, 5, 0));
}
@media screen and (min-width: 768px) {
  .about__services {
    padding-left: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .about__services {
    grid-template-columns: repeat(3, 1fr);
  }
}
.about__services--text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__services--image-container {
  width: 64px;
  height: 64px;
  background: linear-gradient(#050505, #050505) padding-box, linear-gradient(180deg, rgb(56, 239, 125), rgba(17, 153, 142, 0)) border-box;
  border-radius: 50%;
  border: 10px solid transparent;
  position: relative;
  margin-bottom: 14px;
}
.about__services--image-container::after {
  height: 1px;
  width: 133px;
  display: inline-block;
  position: absolute;
  top: 84px;
  left: -10px;
  content: "";
  background: #ffffff;
  border-radius: 2px;
  opacity: 0.1;
}
@media screen and (min-width: 1280px) {
  .about__services--image-container {
    width: 84px;
    height: 84px;
    margin-bottom: 20px;
  }
}
.about__services--item {
  max-width: 315px;
}
@media screen and (min-width: 1280px) {
  .about__services--item {
    width: 315px;
    margin-right: 110px;
  }
  .about__services--item:last-child {
    margin-right: 0;
  }
}
.about__services--image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__services--title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 6px;
}
.about__services--text {
  line-height: 1.4;
  opacity: 0.6;
}
.about__company {
  margin-top: 75px;
  padding: 25px 0 25px 10px;
  min-height: 640px;
}
.about__company--container {
  height: 100%;
  background-image: linear-gradient(0deg, rgb(5, 5, 5), rgba(5, 5, 5, 0.5)), url("/img/girl.png");
  background-size: 500px 570px;
  background-repeat: no-repeat;
  background-position: top 10px right 0;
}
@media screen and (min-width: 768px) {
  .about__company--container {
    background-image: url("/img/girl.png");
  }
}
.about__company--text {
  max-width: 335px;
  font-size: 20px;
  color: #9da1a1;
  font-weight: 600;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .about__company--text {
    width: 514px;
  }
}
.about__company--text span {
  font-size: 24px;
  color: #ffffff;
}
.about__company--img {
  height: 747px;
  width: 750px;
}

.howitworks {
  background-color: #050505;
  position: relative;
  padding-top: 300px;
}
@media screen and (min-width: 768px) {
  .howitworks {
    padding-top: 70px;
  }
}
.howitworks__container {
  display: flex;
  max-width: 300px;
  padding-bottom: 25px;
  position: relative;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .howitworks__container {
    padding-bottom: 169px;
  }
}
.howitworks__buttons {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .howitworks__buttons {
    margin-right: 33px;
  }
}
.howitworks__buttons--item {
  font-size: 48px;
  margin-bottom: 16px;
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}
.howitworks__buttons--item:last-child {
  margin-bottom: 0;
}
.howitworks__list {
  position: relative;
  min-height: 385px;
}
.howitworks__item {
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  .howitworks__item {
    width: 100%;
  }
}
.howitworks__item--title {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.howitworks__item--text {
  width: 245px;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .howitworks__item--text {
    width: 369px;
  }
}
.howitworks__item--img__wrapper {
  position: absolute;
  top: -340px;
  left: -40px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .howitworks__item--img__wrapper {
    top: -60px;
    left: 485px;
    height: 380px;
    width: 385px;
  }
}
@media screen and (min-width: 1280px) {
  .howitworks__item--img__wrapper {
    height: 470px;
    width: 565px;
  }
}
.howitworks__item--img {
  height: 100%;
  width: 100%;
}
.howitworks__text-wrapper {
  width: 220px;
}
@media screen and (min-width: 768px) {
  .howitworks__text-wrapper {
    width: 100%;
  }
}
.howitworks--circle1, .howitworks--circle2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .howitworks--circle1, .howitworks--circle2 {
    display: inherit;
    position: absolute;
    opacity: 0.2;
    background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
    border-radius: 50%;
    filter: blur(60px);
  }
}
.howitworks--circle1 {
  display: none;
}
@media screen and (min-width: 768px) {
  .howitworks--circle1 {
    display: inherit;
    top: -250px;
    left: -105px;
    width: 380px;
    height: 380px;
  }
}
@media screen and (min-width: 768px) {
  .howitworks--circle2 {
    display: inherit;
    top: -50px;
    left: 700px;
    width: 480px;
    height: 480px;
  }
}

.active {
  opacity: 1;
}

.portfolio {
  min-height: 600px;
  background-color: #050505;
  position: relative;
  padding: 36px 40px;
}
.portfolio__container {
  position: relative;
  padding-bottom: 25px;
}
.portfolio__container--circle1, .portfolio__container--circle2, .portfolio__container--circle3 {
  display: none;
}
@media screen and (min-width: 768px) {
  .portfolio__container--circle1, .portfolio__container--circle2, .portfolio__container--circle3 {
    display: inherit;
    position: absolute;
    background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
    border-radius: 50%;
    filter: blur(20px);
  }
}
.portfolio__container--circle1 {
  top: -184px;
  right: -50px;
  width: 309px;
  height: 309px;
  opacity: 0.3;
}
.portfolio__container--circle2 {
  top: -132px;
  right: -7px;
  width: 206px;
  height: 206px;
  opacity: 0.3;
}
.portfolio__container--circle3 {
  top: -101px;
  right: 32px;
  width: 143.056px;
  height: 143.055px;
}

.swiper {
  width: 100%;
}

.portfolio__container .swiper {
  padding-bottom: 32px;
}

.button-next,
.button-prev {
  display: none;
}
@media screen and (min-width: 1280px) {
  .button-next,
  .button-prev {
    display: inherit;
    width: 54px;
    height: 54px;
    padding: 16px;
    border-radius: 50%;
    position: absolute;
    bottom: 27px;
    z-index: 5;
  }
  .button-next:hover, .button-next:focus,
  .button-prev:hover,
  .button-prev:focus {
    box-shadow: 0px 0px 20px 10px rgba(43, 209, 195, 0.6);
  }
}

.portfolio__container .swiper-pagination {
  position: static;
  margin: 30px 0 10px 975px;
  padding: 0 30px;
  width: 240px;
}

.button-prev-img,
.button-next-img {
  width: 30px;
  height: 30px;
}

.button-next {
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
  right: 20px;
}

.button-prev {
  background: -webkit-linear-gradient(180deg, rgb(56, 239, 125), rgb(34, 125, 148));
  right: 230px;
}

.swiper-pagination-bullet-active {
  background: #38ef7d;
}

.swiper-slide {
  margin: 0;
}

.team {
  background-color: #050505;
  position: relative;
  padding-bottom: 80px;
}
.team__list {
  position: relative;
  height: 650px;
}
.team__list--item {
  width: 314px;
  height: 100%;
  padding: 0 5px;
  margin: 0 auto;
}
.team__list--card {
  position: relative;
  width: 300px;
  height: 390px;
  margin-bottom: 16px;
  perspective: 1000px;
}
.team__list--front, .team__list--back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s;
  backface-visibility: hidden;
}
.team__list--back, .team__list--img {
  width: 300px;
  max-height: 390px;
  border-radius: 16px;
}
.team__list--front {
  max-height: 387px;
  background-color: white;
  border-radius: 16px;
}
.team__list--back {
  padding: 20px;
  background: linear-gradient(180deg, #2ad86c 0%, #1c7991 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.team__list--back h3 {
  font-size: 30px;
  text-align: center;
}
.team__list--img {
  margin-bottom: 6px;
}
.team__list--title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 6px;
}
.team__list--text {
  text-align: center;
  opacity: 0.6;
}
.team__social {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 10px;
  justify-content: space-between;
}
.team__social--item {
  margin: 0 auto;
  width: 34px;
  height: 34px;
  border: 1px solid 0;
  border-radius: 50%;
}
.team__social--item:hover, .team__social--item:focus {
  box-shadow: 0px 0px 10px 0px rgba(43, 209, 195, 0.6);
}

.team__wrapper {
  position: relative;
}

.team__wrapper .swiper {
  padding-bottom: 25px;
}

.team .button-next,
.team .button-prev {
  bottom: 22px;
}

.team .swiper-pagination {
  position: static;
  margin: 20px 0 10px 975px;
  padding: 0 30px;
  width: 240px;
}

.consultation {
  background-color: #050505;
  position: relative;
  padding-bottom: 55px;
  min-height: 840px;
}
.consultation__step {
  position: relative;
}
.consultation__step--list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 0;
  justify-content: space-between;
  height: 100%;
  border: 0.5px solid rgba(56, 239, 125, 0.4);
}
@media screen and (min-width: 768px) {
  .consultation__step--list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 860px;
    min-width: 335px;
  }
}
.consultation__step--item {
  position: relative;
  height: 117px;
  padding: 15px 64px 15px 15px;
  border: 0.5px solid rgba(56, 239, 125, 0.4);
  border-collapse: separate;
}
.consultation__step--number {
  top: 8px;
  left: 8px;
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: #38ef7d;
  text-align: center;
  text-justify: auto;
  border: 1px solid rgba(56, 239, 125, 0.4);
  border-radius: 50%;
}
.consultation__step--title {
  font-weight: 700;
  margin-left: 50px;
  margin-bottom: 10px;
}
.consultation__step--img {
  display: none;
}
@media screen and (min-width: 768px) {
  .consultation__step--img {
    display: inherit;
    position: absolute;
    right: -140px;
    bottom: -118px;
  }
}
.consultation__step--circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .consultation__step--circle {
    display: inherit;
    position: absolute;
    top: -170px;
    right: -140px;
    width: 550px;
    height: 550px;
    opacity: 0.200000003;
    background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
    border-radius: 50%;
    filter: blur(40px);
  }
}
.consultation__form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 24px;
  justify-content: space-between;
  margin-left: 0;
  margin-top: 44px;
  padding: 16px 16px 42px 16px;
  border-radius: 8px;
  border: 1px solid rgba(56, 239, 125, 0.4);
  background: #0a180f;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .consultation__form {
    position: absolute;
    margin-top: 117px;
    right: 250px;
    padding: 16px 24px;
    width: 900px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.consultation__form--lable {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .consultation__form--lable {
    width: 290px;
    min-width: 290px;
  }
}
.consultation__form--input {
  height: 44px;
  padding: 9px 16px;
  border-radius: 8px;
  border: 1px solid rgba(56, 239, 125, 0.4);
  background: #0a180f;
  outline: none;
  color: #cdcedf;
}
@media screen and (min-width: 768px) {
  .consultation__form--input {
    width: 280px;
  }
}
.consultation__form--input:focus {
  border: 1px solid #38ef7d;
}
.consultation__form--button {
  position: absolute;
  bottom: -124px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .consultation__form--button {
    position: static;
    margin-top: 14px;
    margin-left: 10px;
  }
}

.consultation .section__text {
  text-transform: uppercase;
}

.testimonials {
  height: 930px;
  background-color: #050505;
  position: relative;
  padding: 68px 0 125px 0;
  background-image: url("/img/testimorials.png");
  background-size: 836px cover;
  background-repeat: no-repeat;
  background-position: top 40px left 0;
}
.testimonials__title {
  margin: 20px auto;
}
@media screen and (min-width: 1280px) {
  .testimonials__title {
    margin: 0 auto;
  }
}
.testimonials__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .testimonials__list {
    display: inherit;
  }
  .testimonials__list div {
    border-radius: 50%;
    overflow: hidden;
  }
  .testimonials__list--img {
    width: 100%;
  }
  .testimonials__list li {
    position: absolute;
  }
  .testimonials__list li div {
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgba(143, 151, 150, 0.6);
  }
  .testimonials__list li div:hover, .testimonials__list li div:focus {
    box-shadow: 0px 0px 15px 0px rgba(43, 209, 195, 0.8);
  }
}
.testimonials__list--item1, .testimonials__list--item10, .testimonials__list--item14 {
  animation: 5s show ease;
  transition: transform 0.25s;
}
.testimonials__list--item1 div, .testimonials__list--item10 div, .testimonials__list--item14 div {
  width: 88px;
  height: 88px;
}
.testimonials__list--item1:hover, .testimonials__list--item10:hover, .testimonials__list--item14:hover {
  transform: scale(1.1);
}
.testimonials__list--item2, .testimonials__list--item6, .testimonials__list--item8, .testimonials__list--item15, .testimonials__list--item17, .testimonials__list--item18 {
  animation: 5s show ease;
  transition: transform 0.25s;
}
.testimonials__list--item2 div, .testimonials__list--item6 div, .testimonials__list--item8 div, .testimonials__list--item15 div, .testimonials__list--item17 div, .testimonials__list--item18 div {
  width: 64px;
  height: 64px;
}
.testimonials__list--item2:hover, .testimonials__list--item6:hover, .testimonials__list--item8:hover, .testimonials__list--item15:hover, .testimonials__list--item17:hover, .testimonials__list--item18:hover {
  transform: scale(1.1);
}
.testimonials__list--item3, .testimonials__list--item4, .testimonials__list--item5, .testimonials__list--item7, .testimonials__list--item9, .testimonials__list--item11, .testimonials__list--item12, .testimonials__list--item13, .testimonials__list--item16 {
  animation: 5s show ease;
  transition: transform 0.25s;
}
.testimonials__list--item3 div, .testimonials__list--item4 div, .testimonials__list--item5 div, .testimonials__list--item7 div, .testimonials__list--item9 div, .testimonials__list--item11 div, .testimonials__list--item12 div, .testimonials__list--item13 div, .testimonials__list--item16 div {
  width: 44px;
  height: 44px;
}
.testimonials__list--item3:hover, .testimonials__list--item4:hover, .testimonials__list--item5:hover, .testimonials__list--item7:hover, .testimonials__list--item9:hover, .testimonials__list--item11:hover, .testimonials__list--item12:hover, .testimonials__list--item13:hover, .testimonials__list--item16:hover {
  transform: scale(1.1);
}
.testimonials__list--item1 {
  top: 213px;
  right: 300px;
}
.testimonials__list--item2 {
  top: 208px;
  right: 161px;
}
.testimonials__list--item3 {
  top: 372px;
  right: 253px;
}
.testimonials__list--item4 {
  top: 472px;
  right: 157px;
}
.testimonials__list--item5 {
  top: 485px;
  right: 295px;
}
.testimonials__list--item6 {
  top: 623px;
  right: 234px;
}
.testimonials__list--item7 {
  top: 740px;
  right: 455px;
}
.testimonials__list--item8 {
  top: 779px;
  right: 752px;
}
.testimonials__list--item9 {
  top: 780px;
  left: 492px;
}
.testimonials__list--item10 {
  top: 617px;
  left: 244px;
}
.testimonials__list--item11 {
  top: 515px;
  left: 305px;
}
.testimonials__list--item12 {
  top: 442px;
  left: 142px;
}
.testimonials__list--item13 {
  top: 370px;
  left: 256px;
}
.testimonials__list--item14 {
  top: 236px;
  left: 300px;
}
.testimonials__list--item15 {
  top: 195px;
  left: 145px;
}
.testimonials__list--item16 {
  top: 240px;
  left: 484px;
}
.testimonials__list--item17 {
  top: 195px;
  left: 648px;
}
.testimonials__list--item18 {
  top: 165px;
  right: 610px;
}
.testimonials__card, .testimonials__card--swiper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 432px;
  height: 430px;
  border-radius: 8px;
  border: 1px solid #38ef7d;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  background: #0a180f;
}
.testimonials__card--imgwrapper, .testimonials__card--swiper--imgwrapper {
  margin: 5px auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  background: #ffffff;
}
.testimonials__card--img, .testimonials__card--swiper--img {
  width: 100%;
}
.testimonials__card--name, .testimonials__card--swiper--name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.testimonials__card--company, .testimonials__card--swiper--company {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.8000000119;
  margin-top: 15px;
}
.testimonials__card--text, .testimonials__card--swiper--text {
  width: 284px;
  margin: 24px auto;
  opacity: 0.5;
  border-radius: 0;
  background: none;
}
.testimonials__card--circle1, .testimonials__card--circle2, .testimonials__card--circle3, .testimonials__card--swiper--circle1, .testimonials__card--swiper--circle2, .testimonials__card--swiper--circle3 {
  position: absolute;
  background: #38ef7d;
  filter: blur(20px);
}
.testimonials__card--circle1, .testimonials__card--swiper--circle1 {
  top: 14px;
  right: 16px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
.testimonials__card--circle2, .testimonials__card--swiper--circle2 {
  top: 377px;
  right: 32px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.testimonials__card--circle3, .testimonials__card--swiper--circle3 {
  top: 148px;
  left: 12px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  filter: blur(5px);
}
.testimonials__card--button__left, .testimonials__card--button__right, .testimonials__card--swiper--button__left, .testimonials__card--swiper--button__right {
  position: absolute;
  top: 50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.testimonials__card--button__left, .testimonials__card--swiper--button__left {
  left: 0;
  background: -webkit-linear-gradient(180deg, rgb(56, 239, 125), rgb(34, 125, 148));
}
.testimonials__card--button__right, .testimonials__card--swiper--button__right {
  right: 0;
  background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
}
.testimonials__card {
  display: none;
}
@media screen and (min-width: 1280px) {
  .testimonials__card {
    display: inherit;
  }
}

.parallax__container {
  z-index: 25;
}

.quote-up {
  position: absolute;
  top: 44px;
  left: 32px;
  width: 44px;
  height: 44px;
}

.testimonials__card--swiper {
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  .testimonials__card--swiper {
    display: none;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.backdrop,
.notification__backdrop {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(10px);
  transition-property: backdrop-filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 50;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 615px;
  padding: 0 0 0 10px;
  display: flex;
  border-radius: 24px;
  background: #050505;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 800px;
    height: 540px;
    border-radius: 16px;
    background-image: url("/img/modal.png");
    box-shadow: 0px 4px 40px 0px rgba(56, 239, 125, 0.6);
  }
}
.modal__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .modal__img {
    display: inherit;
    margin-top: 40px;
    width: 312.46px;
    height: 500px;
  }
}
.modal__container {
  padding: 40px;
  background: #050505;
  border-radius: 16px;
  position: relative;
}
.modal__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}
.modal__text {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  opacity: 0.6000000238;
  margin-bottom: 27px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__form--lable {
  line-height: 1.4;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__form--input {
  width: 280px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(56, 239, 125, 0.4);
  background: #0a180f;
  margin-bottom: 24px;
  outline: none;
  color: #cdcedf;
}
.modal__form--input:focus {
  border: 1px solid #38ef7d;
}
.modal__form--button {
  margin-top: 8px;
}
.modal--close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
}
.modal--close:focus, .modal--close:hover {
  background: rgba(56, 239, 125, 0.4);
}
.modal--close:focus:hover, .modal--close:focus:focus, .modal--close:hover:hover, .modal--close:hover:focus {
  box-shadow: 0px 0px 15px 0px rgba(43, 209, 195, 0.8);
}
.modal__circle {
  display: none;
}
@media screen and (min-width: 768px) {
  .modal__circle {
    display: inherit;
    position: absolute;
    object-fit: cover;
    top: 270px;
    left: 263px;
    width: 190px;
    height: 170px;
    opacity: 0.2;
    background: -webkit-linear-gradient(0deg, rgb(56, 239, 125), rgb(34, 125, 148));
    border-radius: 50%;
    filter: blur(40px);
  }
}

.error {
  position: absolute;
  top: 70px;
  font-size: 12px;
  color: red;
  font-style: italic;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 160px;
  padding: 25px 10px;
  border-radius: 16px;
}
.notification__text {
  font-size: 35px;
  text-align: center;
}

.notification__success {
  background: linear-gradient(180deg, #38ef7d 0%, #227d94 100%);
  box-shadow: 0px 4px 40px 0px rgba(56, 239, 125, 0.6);
}

.notification__error {
  background: rgba(250, 134, 134, 0.6);
  box-shadow: 0px 4px 40px 0px rgba(250, 35, 35, 0.6);
}

/*# sourceMappingURL=main.css.map */
